

body{

background-image: url(https://cdn.skuola.net/news_foto/2018/breve-ricerca-egitto.jpg);
background-repeat: no-repeat;
background-size: cover;
}

p{

  background-color: rgb(20,40,50,0.5); 
  color: rgb(32, 0, 3)44, 236);
    
}